{% include 'layout/header.html' %}

<div id="bar_chart" style="height:400px;"></div>
<div id="app">

    <template>
        <el-table
                :data="tableData"
                border
                :cell-style="cellStyle"
                style="width: 100%"
        >
            <el-table-column

                    label="名称"
                    width="120px">
                <template slot-scope="scope">
                    <a :href="'/stock_finance/view/'+scope.row.ts_code" target="_blank">${scope.row.name}</a>
                </template>
            </el-table-column>
            <el-table-column
                    prop="ts_code"
                    label="代码"
                    width="110px">
            </el-table-column>
            <el-table-column
                    prop="pe"
                    label="pe"
                    width="70px">
            </el-table-column>
            <el-table-column label="营业收入">
                <el-table-column v-for="date in dates" :prop="date" :label="date" width="78">

                </el-table-column>
            </el-table-column>
            <el-table-column
                    prop="industry"
                    label="行业"
                    width="150">
            </el-table-column>

        </el-table>
    </template>

</div>
</body>


<script type="text/javascript">

    // bar
    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('bar_chart'));
var option;

option = {
    xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [120, 200, 150, 80, 70, 110, 130],
        type: 'bar'
    }]
};
    myChart1.setOption(option);

    var a = 0
    new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data() {
            return {
                dates: [],
                tableData: []
            };
        },
        created() {
            // fetch the data when the view is created and the data is
            // already being observed
            this.fetchData()
        },
        methods: {
            fetchData() {
                // axios.get("https://api.nytimes.com/svc/topstories/v2/home.json?api-key=your_api_key")
                // .then(response => {this.tableData = response.data.results})

                axios.get("/stock_choose/json")
                    .then(response => {
                        this.dates = response.data.dates
                        this.tableData = response.data.data

                        // group by industry
                        const data = [...this.tableData]
                        const map = new Map()
                        for( let d of data){
                            if(map.has(d.industry)){
                                map.set(d.industry, map.get(d.industry)+1)
                            }else{
                                map.set(d.industry, 1)
                            }
                        }
                        const array = Array.from(map).sort((a,b)=>b[1]-a[1])
                        var option;

                        option = {
                            xAxis: {
                                type: 'category',
                                data: array.map(d=>d[0]),
                                axisLabel: {
                                    show: true,
                                    formatter: value => value.split("").join("\n")
                                }
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [{
                                data: array.map(d=>d[1]),
                                type: 'bar'
                            }]
                        };

                        option && myChart1.setOption(option);
                    })


            },
            cellStyle({row, column, rowIndex, columnIndex}) {
                if (columnIndex == 0) {
                    column.width = 140
                    return "padding:0"
                } else {
                    return "padding:0"
                }
            }
        }
    })



</script>

</html>