{% include 'layout/header.html' %}

<div id="app">

    <template>
        <el-table
                :data="tableData"
                border
                :cell-style="cellStyle"
                style="width: 100%"
        >
            <el-table-column label="代码" width="100">
                <template slot-scope="scope">
                    <a :href="'/stock_finance/view/'+scope.row.stock_code" target="_blank">${scope.row.stock_name}</a>
                </template>
            </el-table-column>
            <el-table-column prop="stock_code" label="名称" width="100"></el-table-column>
            <el-table-column prop="buy_date" label="买入时间" width="100"></el-table-column>
            <el-table-column prop="buy_price" label="买入价格" width="100"></el-table-column>
            <el-table-column prop="today_price" label="今日价格" width="100"></el-table-column>
            <el-table-column prop="buy_profit" label="买入收益" width="100"></el-table-column>
            <el-table-column prop="daily_label" label="收益指标" width="100"></el-table-column>
            <el-table-column prop="pe_label" label="pe指标" width="100"></el-table-column>
            <el-table-column prop="raise_percent" label="6月涨幅指标" width="100"></el-table-column>
            <el-table-column prop="fall_percent" label="6月跌幅指标" width="100"></el-table-column>
            <el-table-column label="新浪财经" width="100">
                <template slot-scope="scope">
                    <a :href="'http://finance.sina.com.cn/realstock/company/'+scope.row.sina_code+'/nc.shtml'"
                       target="_blank">LINK</a>
                </template>
            </el-table-column>

        </el-table>
    </template>

</div>
</body>

<script>

    new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data() {
            return {
                tableData: []
            }
        },
        created() {
            // fetch the data when the view is created and the data is
            // already being observed
            this.fetchData()
        },
        methods: {
            fetchData() {
                // axios.get("https://api.nytimes.com/svc/topstories/v2/home.json?api-key=your_api_key")
                // .then(response => {this.tableData = response.data.results})

                axios.get("/stock_hold/json")
                    .then(response => {
                        this.tableData = response.data.data
                    })


            },
            cellStyle({row, column, rowIndex, columnIndex}) {
                if (columnIndex == 0) {
                    column.width = 140
                    return "padding:0"
                } else {
                    return "padding:0"
                }
            }
        }
    })
</script>
</html>