{% include 'layout/header.html' %}

<div id="app">
    <div id="main" style="height:400px;"></div>
</div>
</body>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 显示标题，图例和空的坐标轴
    myChart.setOption({
        title: {
            text: '指数分析'
        },
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        legend: {
            data: ['上证', '深成', '买入', '卖出']
        },
        xAxis: {
            data: []
        },
        yAxis: [
            {
                type: 'value',
                name: '上证',
                position: 'left',
                axisLabel: {
                    formatter: '{value} '
                }
            },
            {
                type: 'value',
                name: '深成',
                position: 'right',
                axisLabel: {
                    formatter: '{value} '
                }
            },
        ],
        dataZoom: [{
            type: 'inside',
            start: 0,
            end: 100
        }, {
            start: 0,
            end: 10,
            handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
            handleSize: '80%',
            handleStyle: {
                color: '#fff',
                shadowBlur: 3,
                shadowColor: 'rgba(0, 0, 0, 0.6)',
                shadowOffsetX: 2,
                shadowOffsetY: 2
            }
        }],
        series: [{
            name: '',
            type: 'line',
            smooth: true,
            symbol: 'none',
            sampling: 'average',
            data: []
        }]
    });

    // 异步加载数据
    axios.get("/stock/index/json")
        .then(response => {
            // 填入数据
            myChart.setOption({
                xAxis: [
                    {
                        data: response.data.sh_index_history.dates
                    }
                ],
                series:
                    response.data.sh_index_history.data
                        .concat(
                            response.data.sz_index_history.data
                        ).concat(
                        response.data.buy_point.data
                    ).concat(
                        response.data.sell_point.data
                    )


            });

        })
</script>
</html>