{% include 'layout/header.html' %}

<div id="app">

    <template>
        <el-table
                :data="tableData"
                border
                :cell-style="cellStyle"
                style="width: 100%"
        >
            <el-table-column v-for="date in dates" :prop="date" :label="date">
            </el-table-column>
        </el-table>
    </template>

    <template>
        <div id="main" style="height:400px;"></div>
        <div id="pe_chart" style="height:400px;"></div>
    </template>

</div>
<link rel="stylesheet" type="text/css" href="/chart/bar/inspector.css">
</body>

<script type="module">

import define from "/chart/bar/index.js";
import {Runtime, Library, Inspector} from "/chart/bar/runtime.js";

const runtime = new Runtime();
const module = runtime.module(define, Inspector.into(document.body));

 // 加载收入业务结构
    axios.get("/stock_finance/chart/bz/json/{{stock_code}}")
        .then(async response => {
            // 填入数据
            const dates = response.data.dates
            const items = response.data.items
            const data = []
            for( let date of dates ){
                const d = {date}
                for( let item of items ){
                    if( response.data[date][item])
                        d[item] = response.data[date][item]
                }
                data.push(d)
            }
            module.redefine('data', data)
            module.redefine('groupKey', 'date')
            module.redefine('keys', items)
        })
</script>
<script>

    new Vue({
        el: '#app',
        data() {
            return {
                dates: [],
                tableData: []
            }
        },
        created() {
            // fetch the data when the view is created and the data is
            // already being observed
            this.fetchData()
        },
        methods: {
            fetchData() {
                // axios.get("https://api.nytimes.com/svc/topstories/v2/home.json?api-key=your_api_key")
                // .then(response => {this.tableData = response.data.results})

                axios.get("/stock_finance/table/json/{{stock_code}}")
                    .then(response => {
                        this.dates = response.data.dates
                        this.tableData = response.data.data
                        document.title = response.data.stock_name
                    })


            },
            cellStyle({row, column, rowIndex, columnIndex}) {
                if (columnIndex == 0) {
                    column.width = 140
                    return "padding:0"
                } else {
                    return "padding:0"
                }
            }
        }
    })


</script>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var financeChart = echarts.init(document.getElementById('main'));

    // 显示标题，图例和空的坐标轴
    financeChart.setOption({
        title: {
            text: '单季增长率'
        },
        tooltip: {},
        legend: {
            data: ['总收入季度增长率', '总利润季度增长率', '净利润季度增长率', '股价max', '股价min', '股价']
        },
        xAxis: {
            data: []
        },
        yAxis: [
            {
                type: 'value',
                name: '财务',
                scale: true,
                position: 'left',
                axisLabel: {
                    formatter: '{value} （%）'
                }
            },
            {
                type: 'value',
                name: '股价',
                scale: true,
                position: 'right',
                axisLabel: {
                    formatter: '{value} （￥）'
                }
            },
        ],
        series: [{
            name: '销量',
            type: 'line',
            data: []
        }]
    });

    // 异步加载数据
    axios.get("/stock_finance/chart/json/{{stock_code}}")
        .then(response => {
            // 填入数据
            financeChart.setOption({
                xAxis: [
                    //     {
                    //     data: response.data.q_increase_percentage.dates
                    // },
                    {
                        data: response.data.stock_price.dates
                    },
                    {
                        data: response.data.stock_price.dates2
                    }
                ],
                series:
                    response.data.q_increase_percentage.data.concat(
                        response.data.stock_price.data
                    )

            });

        })

    //#################

    // 基于准备好的dom，初始化echarts实例
    var peChart = echarts.init(document.getElementById('pe_chart'));

    // 显示标题，图例和空的坐标轴
    peChart.setOption({
        title: {
            text: 'pe'
        },
        tooltip: {},
        legend: {
            data: ['pe']
        },
        xAxis: {
            data: []
        },
        yAxis: [
            {
                type: 'value',
                name: 'pe',
                scale: true,
                position: 'left',
                axisLabel: {
                    formatter: '{value}'
                }
            },
        ],
        series: [{
            name: 'pe',
            type: 'line',
            data: []
        }]
    });

    // 异步加载数据
    axios.get("/stock/pe/{{stock_code}}")
        .then(response => {
            // 填入数据
            peChart.setOption({
                xAxis: [
                    {
                        data: response.data.pe.dates
                    }
                ],
                series:
                response.data.pe.data

            });

        })




</script>
</html>