<!doctype html>

<header>
<title>finance_monitor</title>
<!-- import CSS -->
{#<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">#}
<link rel="stylesheet" type="text/css" href="/element-ui-index.css">

<!-- import Vue before Element -->
{#<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>#}
<script src="/vue.js"></script>
<!-- import element -->
{#<script src="https://unpkg.com/element-ui/lib/index.js"></script>#}
    <script src="/element-ui-index.js"></script>
{#<script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
    <script src="/axios.min.js"></script>
<!-- echart -->
<script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js"></script>
</header>

<body>

{% include 'layout/menu.html' %}
