<style>
    .el-menu--horizontal>.el-submenu .el-submenu__title{height:30px;line-height: 30px}
</style>

<div id="menu">
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-submenu index="1">
            <template slot="title">股票</template>
            <el-menu-item index="1-1"><a href="/stock_hold/view">持股信息</a></el-menu-item>
            <el-menu-item index="1-2"><a href="/stock/index/view">指数走势</a></el-menu-item>
            <el-menu-item index="1-3"><a href="/stock/pe/view">PE</a></el-menu-item>
            <el-menu-item index="1-4"><a href="/stock/money/flow/view">资金流向</a></el-menu-item>
            <el-menu-item index="1-5"><a href="/stock/margin/view">融资融券</a></el-menu-item>
            <el-menu-item index="1-6"><a href="/stock_choose/view">优质股票</a></el-menu-item>
            <el-menu-item index="1-7"><a href="/stock_finance/view/000100.SZ">个股</a></el-menu-item>
        </el-submenu>
        <el-submenu index="2">
            <template slot="title">更新股票数据</template>
            <el-menu-item index="2-1"><a href="/stock_hold/download">持股数据_更新</a></el-menu-item>
            <el-menu-item index="2-2"><a href="/stock/index/download?start_date=">指数_更新</a></el-menu-item>
            <el-menu-item index="2-3"><a href="/stock/pe/download?start_date=">PE_更新</a></el-menu-item>
            <el-menu-item index="2-4"><a href="/stock/money/flow/download?start_date=">资金数据_更新</a></el-menu-item>
            <el-menu-item index="2-5"><a href="/stock/margin/download">融资融券_更新</a></el-menu-item>
            <el-menu-item index="2-6"><a href="/stock_choose/download">优质股票_更新</a></el-menu-item>
        </el-submenu>

        <el-submenu index="3">
            <template slot="title">国家统计局</template>
            <el-menu-item index="3-1"><a href="/country_database/basic_view">基本指标集</a></el-menu-item>
            <el-menu-item index="3-2"><a href="/country_database/customized_view">自选指标</a></el-menu-item>
            <el-menu-item index="3-3"><a href="/country_database_m2/view">货币</a></el-menu-item>
            <el-submenu index="3-3">
                <template slot="title">未启用</template>
                <el-menu-item index="3-3-1">选项1</el-menu-item>
                <el-menu-item index="3-3-2">选项2</el-menu-item>
                <el-menu-item index="4-3-3">选项3</el-menu-item>
            </el-submenu>
        </el-submenu>

        <el-submenu index="4">
            <template slot="title">经济预警指标</template>
            <el-menu-item index="4-1"><a href="http://gold.hexun.com/hjxh/">黄金走势</a></el-menu-item>
            <el-menu-item index="4-2"><a href="http://yield.chinabond.com.cn/cbweb-czb-web/czb/moreInfo?locale=cn_ZH">国债利率走势</a></el-menu-item>
            <el-menu-item index="4-3"><a href="http://data.eastmoney.com/cjsj/gdp.html">GDP</a></el-menu-item>
            <el-menu-item index="4-5"><a href="http://data.eastmoney.com/cjsj/yhll.html">基准利率</a></el-menu-item>
            <el-menu-item index="4-6"><a href="http://data.eastmoney.com/cjsj/ckzbj.html">准备金率</a></el-menu-item>
            <el-menu-item index="4-7"><a href="http://114.115.232.154:8080/">宏观杠杆率趋势</a></el-menu-item>
            <el-menu-item index="4-8"><a href="https://fred.stlouisfed.org/series/QCNPAM770A">私人债务GDP占比</a></el-menu-item>
        </el-submenu>

        <el-submenu index="5">
            <template slot="title">美国经济指标</template>
            <el-menu-item index="5-1"><a href=http://data.eastmoney.com/cjsj/foreign_0_21.html">GDP</a></el-menu-item>
            <el-menu-item index="5-2"><a href="http://data.eastmoney.com/cjsj/foreign_0_22.html">央行利率</a></el-menu-item>
            <el-menu-item index="5-3"><a href="http://data.eastmoney.com/cjsj/foreign_0_4.html">失业率</a></el-menu-item>
            <el-menu-item index="5-4"><a href="http://data.eastmoney.com/cjsj/foreign_0_0.html">ISM制造业指数</a></el-menu-item>
            <el-menu-item index="5-5"><a href="https://cn.investing.com/rates-bonds/u.s.-10-year-bond-yield">国债利率走势</a></el-menu-item>
            <el-menu-item index="5-6"><a href="https://fred.stlouisfed.org/series/QUSPAM770A">私人债务GDP占比</a></el-menu-item>
            <el-menu-item index="5-7"><a href="https://fred.stlouisfed.org/graph/?g=qmQC">美国GDP与黄金</a></el-menu-item>
        </el-submenu>

    </el-menu>
</div>

<script>

    new Vue({
        el: '#menu',
        data() {
            return {
                activeIndex: '1-1',
            };
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    })
</script>